/* Roboto 400, 700, 500 Raleway 700
цвета #FFFFFF, #E5E5E5, #F5F4FA, #2F303A, 
текст #2196F3, #757575
фон кнопки #2196F3 */

:root { 
    --opp-color:#FFFFFF;
    --сurrent-color: #2196F3;
    --alt-color:#757575;
    --another-opp-color:#E5E5E5; 
    
}   

.container{
    width: 1200px; 
    padding: 94px 15px;
    outline: 1px solid red; 
    margin-right: auto;
    margin-left: auto;
}

li {
    list-style-type: none;
} 

ul, li, h1, h2, h3, h4, h5, h6, p {
    margin:  0;
    padding: 0; 
}

/* HEADER */

.header {
    position: relative; 

}

.header-nav {
    background-color:var(--opp-color);
}

.header-nav, 
.contacts-list, 
.links-list,
.header-flex
{
    display: flex;
}

.header-logo {
    color: #000;
    font-family: "Raleway", 'Verdana', 'Tahoma', sans-serif;
    font-weight: 700;
    letter-spacing: 0.03em;

    margin-right: 93px; 
}

.header-flex {
    justify-content: space-between;
    min-height: 80px;
    align-items: center;
    padding: 0px 15px;
}

.links-list > li, 
.contacts-list > li {
    margin-right: 50px;
    letter-spacing: 0.02em;
}

.links-list, 
.contacts-list {
    margin-left: 50px; 
}


.link-item:last-child, 
.contact-item:last-child {
    margin-right:0px; 
}

/* MAIN-PAGE   */

.main-page {
    color:#212121;
    font-family: "Roboto", 'Verdana', 'Tahoma', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;

}

.link{
    color:#212121;
    
} 

.link:hover, .link:focus {
    color:var(--сurrent-color);
} 

.current {
    color:var(--сurrent-color);
}

/* HERO  */

.hero{
    font-family: "Roboto", 'Verdana', 'Tahoma', sans-serif;
    font-weight: 900;
    color:var(--opp-color);
    background-color: #2F303A; /*временно для того, чтобы была видна строка */
}
.hero-link {
color:var(--opp-color);
background-color: var(--сurrent-color);
font-size: 16px;
line-height: 1.88;


display: inline-block;
padding: 10px 32px; 
border: 0px;
border-radius: 4px;
margin: 30px auto ;
}

.hero-text {
    text-transform:uppercase;
    display: block;
    text-align: center;
    font-size: 44px;
    line-height: 1.36;
}

.hero-container {

    padding: 200px 252px; 
    letter-spacing: 0.06em;
    text-align: center;
      
}

/* MIDDLE-FIRST-PART  */

.middle-section {
    background-color: var(--another-opp-color);
}

.column-items {
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 95px; 

}

.column-items > li {
    margin-right:30px;
    flex-basis: calc((100%-4*30));
}

.column-item:last-child{
    margin-right:0px;
}


.title{
  line-height: 1.17;
  font-weight: 700;
}
.text{
  line-height: 1.71;
  font-weight: 400;
  color:var(--alt-color);
}

/* MIDDLE-SECOND-PART  */

.section-title {
    font-size: 36px;
    line-height: 1.17;
    font-weight: 700;
    text-align: center;
}

.gallery {
  display: flex;
  justify-content: space-between;
  flex-basis: calc (100%-3*370);

  margin-right: -30px;
  margin-top: 50px;
}

.gallery li {
  margin-right: 30px;
}

/* BOTTOM-SECTION  */

.bottom-section {
    --bottom-color: #F5F4FA;   
    background-color: var(--bottom-color); 
}

.bottom-cardset { 
 display: flex;
 justify-content: space-between;
 flex-basis: calc (100%-4*270);

 margin-right: -30px;
 margin-top: 50px;

}

.cardset-data {
    margin-top: 30px; 

}


.bottom-cardset > li {
    margin-right:30px; 
}

.name-title {
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}

.section-text{
    color: var(--alt-color);
    font-size: 16px;
    line-height: 1.19;

    margin-top: 10px; 
    text-align: center;
}

/* FOOTER  */

.footer{
    --footer-colour: #2F303A; 
    background-color: var(--footer-colour);
    font-weight: 400;
    color:var(--opp-color);
}
.footer-container{
    padding: 60px 15px;
}
.footer-text {
    color:var(--opp-color); 
}

.footer-logo {
  color:var(--opp-color);
  font-family: "Raleway", 'Verdana', 'Tahoma', sans-serif;
  font-weight: 700;
}

.footer-contacts {
  margin-top: 9px;
}

.footer-address{
    margin-top: 20px;
  }

/* PORTFOLIO  */

.portfolio-page {
    color:#212121;
    font-family: "Roboto", 'Verdana', 'Tahoma', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
}

.portfolio-top{
    font-weight: 500;
    background-color: var(--another-opp-color); 
}

.invisible {
    color:transparent; 
}
.portfolio:hover, .link:focus {
    color:#FFFFFF;
    background-color: var(--сurrent-color);
    } 

.portfolio-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
    }
    
.portfolio-text {
        font-weight: 700;
        line-height: 1.88;
        color:var(--alt-color);
        }
